# node files
node_modules

# hardhat files
cache
artifacts
types
deployments/arbitrum-rinkeby
deployments/kovan

# env
.env

# vscode settings
.vscode


# coverage
coverage

# playground
playground.ts